@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}
/** Icons **/
path {
  fill: white;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 20px 0 15px 0;
}

.input {
  flex-grow: 1;
  padding: 10px;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
}

.download-container {
  padding-left: 5px;
}

.download-container:hover path {
  fill: rgb(117, 117, 249);
}

.move-container:hover path {
  fill: yellow;
}

.brush-container:hover path {
  fill: green;
}

.erase-container:hover path {
  fill: red;
}


.canvas{
  width: 512px !important;
  height: 512px !important;
}